body{
    background-color: gray;
}

h1{
    text-align: center;
    color: white;
}

.box1{
    width: 40%;
    height: 20vh;
    background-color: rgba(0,0,0,0.6);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.box2{
    width: 40%;
    height: 20vh;
    background-color: rgba(0,0,0,0.6);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px auto 40px auto;
}

.boxText{
    width: 50%;
    margin: auto;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
}
