*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(src/pinos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.container-form{
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    transition: all .5s ease-out;
}
.welcome-back{
    display: flex;
    align-items: center;
    justify-content: center;
}

.message {
    padding: 1rem;
    text-align: center;
}

.message h2{
    font-size: 1.7rem;
    padding: 1rem 0;
}

.message button{
    padding: 1rem;
    font-weight: 400;
    background-color: #4a4aee;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size:.9rem ;
    transition: all .3s ease-in;
    color: #fff;
    margin-top: 1.5rem;

}

.message button:hover{
    background-color: #6464f8;

}

.formulario{
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    background-color: rgba(51, 51, 51, 0.602);
    text-align: center;
    box-sizing: border-box;
}
.formulario h2{
    margin-bottom: 3rem;
}

.create-account{
    padding: 2.7rem 0;
    font-size: 1.7rem;

}

.iconos {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.border-icon{
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1.5rem;
    transition: all .3s ease-in;
    border: white solid thin;
    box-sizing: border-box;
}

i{
    font-size: 1.5rem;
}

.border-icon:hover{
    background-color: #4a4aee;
    cursor: pointer;
}

.cuenta-gratis{
    padding: 2rem 0;

}

.formulario input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: #fff;
}

.formulario button {
    width:60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.9);
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}

.formulario .colorRed{
    border-bottom: #FF4d00 thin solid;
    
}

.sign-in{
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.sign-in.active {
    opacity: 1;
    visibility: visible;
}

.sign-up.active {
    opacity: 0;
    visibility: hidden;
}

